/* BASIC STYLES */

body
{
  font-family: sans-serif;
  font-size: 12pt;
}

h1
{
  text-align: center;
}

/* BASIC DIV LAYOUT → RESPONSIVE DESIGN */

*
{
  box-sizing: border-box;
  /* Ensures that padding and border are included in the total dimensions of each element */
}

/* Prepare rows and columns for responsive web design */

.row::after
{
  content: "";
  clear: both;
  display: table;
}

/* Main layout (left/right buttons and image) */
#main-container
{
  display: table;
  width: 100%;
}

.nav-button-container
{
  display: table-cell;
  vertical-align: middle;
  width: 10%;
  text-align: center;
  height: 100%;
}
.nav-button-container:hover
{
  background-color: #eee;
}

#stat-image-container
{
  display: table-cell;
  width: 80%;
  text-align: center;
}


/* TITLE (top) AND DISCLAIMER (bottom) */

#title
{
  text-align: center;
  font-size: 1.2em;
}

#disclaimer
{
  text-align: center;
  font-size: 0.9em;
}

/* LEFT / RIGHT BUTTONS  */

.nav-button
{
  text-decoration: none;
  display: inline-block;
  color: black;
  font-size: 5em;
  padding-bottom: 10px;
}

/* MAIN PART: STATISTIC */

#stat-name
{
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

#stat-description
{
  text-align: center;
  font-size: 1.0em;
}

#stat-source
{
  text-align: center;
  font-size: 0.75em;
}

#stat-image
{
  max-width: 100%;
  height: auto;
}
